body {
  display: flex;
  justify-content: center;
}

.cuadro {
  width: 50vw;
  height: 50vh;
  border: black 2px solid;
  animation: animate2 5s infinite alternate-reverse;
}

.pelota {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: black 2px solid;
  position: relative;
  animation: animate1 5s infinite alternate-reverse;
}

@keyframes animate1 {
  0% {
    top: 0;
    left: 0;
    background-color: cyan;
  }
  20% {
    top: 93%;
    left: 20%;
    background-color: green;
  }
  40% {
    top: 0%;
    left: 40%;
    background-color: blue;
  }
  60% {
    top: 93%;
    left: 60%;
    background-color: red;
  }
  80% {
    top: 0%;
    left: 80%;
    background-color: orange;
  }
  100% {
    top: 93%;
    left: 96%;
    background-color: black;
  }
}

@keyframes animate2 {
  0% {
    border: red 6px solid;
  }
  10% {
    border: black 2px solid;
  }
  20% {
    border: red 6px solid;
  }
  30% {
    border: black 2px solid;
  }
  40% {
    border: red 6px solid;
  }
  50% {
    border: black 2px solid;
  }
  60% {
    border: red 6px solid;
  }
  70% {
    border: black 2px solid;
  }
  80% {
    border: red 6px solid;
  }
  90% {
    border: black 2px solid;
  }
  100% {
    border: red 6px solid;
  }
}
