* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Helvetica;
  /* overflow-x: hidden; */
}

nav {
  width: 100vw;
  height: 15vh;
  background: #1d2d3c;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1;
}

nav img {
  width: 60px;
  height: 60px;
}

nav ul {
  width: 75vw;
  height: 15vh;
  list-style: none;
  text-align: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
  background: #1d2d3c;
  padding-right: 20px;
}

.logo {
  background-color: #edcd20;
  width: 25vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: #1d2d3c;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

nav a h1 span:nth-child(1) {
  font-weight: bolder;
}

nav a h1 span:nth-child(2) {
  font-weight: lighter;
}

nav ul li {
  padding: 0px 30px;
  display: flex;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

nav ul li a:hover {
  color: #edcd20;
}

#inicio {
  width: 100%;
  height: auto;
}

#inicio video {
  position: relative;
  top: -17vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: fixed;
  z-index: -1;
}

#inicio p {
  position: relative;
  top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 60px;
}

#servicios {
  width: 100vw;
  height: auto;
  background-color: white;
  color: #1d2d3c;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-size: 40px;
}

div h2 {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

.contenido1 {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  width: 300px;
  height: auto;
  margin: 10px;
  background: #f7f7f7;
  color: #3e5a76;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box img {
  position: relative;
  top: -8px;
}

.box h3 {
  padding: 18px;
  font-size: 22px;
}

.box p {
  padding: 10px;
  font-size: 17px;
  line-height: 30px;
}

#nosotros {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #1d2d3c;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
}

.contenido2 {
  background-color: #f7f7f7;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contenido2 h2 {
  padding: 18px;
  font-size: 60px;
}

.contenido2 p {
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 60px;
  font-size: 17px;
  line-height: 30px;
}

.imagen2 {
  width: 50vw;
  height: 100vh;
  background: url("/assets/obra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.numeros {
  background: #edcd20;
  color: #3e5a76;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.numeros h3 {
  font-size: 60px;
  padding: 0px 50px;
}

.numeros p {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#proyectos {
  width: 100vw;
  height: auto;
  background-color: white;
  color: #1d2d3c;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  font-size: 40px;
}

.container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container a img {
  display: block;
  width: 290px;
  height: 320px;
  margin: 8px;
}

.row img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

#contacto {
  width: 100%;
  height: 100vh;
  background-color: darkorchid;
}
