* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Helvetica;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  height: 15vh;
  background: #1d2d3c;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 100;
}

nav img {
  width: 60px;
  height: 60px;
}

nav ul {
  width: 75vw;
  height: 15vh;
  list-style: none;
  text-align: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
  background: #1d2d3c;
  padding-right: 20px;
}

.logo {
  background-color: #edcd20;
  width: 25vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #1d2d3c;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

nav a h1 span:nth-child(1) {
  font-weight: bolder;
}

nav a h1 span:nth-child(2) {
  font-weight: lighter;
}

nav ul li {
  padding: 0px 30px;
  display: flex;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

nav ul li a:hover {
  color: #edcd20;
}

#inicio {
  width: 100%;
  height: auto;
  background: greenyellow;
  z-index: -2;
}

#inicio video {
  position: relative;
  top: -17vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: fixed;
  z-index: 0;
}

#inicio p {
  position: relative;
  top: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  font-weight: bolder;
  z-index: 1;
}

#servicios {
  width: 100vw;
  height: auto;
  background-color: white;
  color: #1d2d3c;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding-top: 15vh;
}

div h2 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.contenido1 {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  width: 300px;
  height: auto;
  margin: 10px;
  background: #f7f7f7;
  color: #3e5a76;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box img {
  position: relative;
  top: -8px;
}

.box h3 {
  padding: 18px;
  font-size: 22px;
}

.box p {
  padding: 10px;
  font-size: 17px;
  line-height: 30px;
}

#nosotros {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #1d2d3c;
  display: flex;
  flex-direction: row;
  padding-top: 15vh;
}

.contenido2 {
  background-color: #f7f7f7;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contenido2 h2 {
  padding: 18px;
  font-size: 60px;
}

.contenido2 p {
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 60px;
  font-size: 17px;
  line-height: 30px;
  color: #23323f;
}

.imagen2 {
  width: 50vw;
  height: 100vh;
  background: url("/assets/obra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.numeros {
  background: #edcd20;
  color: #3e5a76;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.numeros h3 {
  font-size: 60px;
  padding: 0px 50px;
}

.numeros p {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#proyectos {
  width: 100vw;
  height: auto;
  background-color: white;
  color: #1d2d3c;
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  font-size: 40px;
}

.container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container a img {
  display: block;
  width: 455px;
  height: 468px;
  margin: 12px;
}
.row a {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: transparent;
}

.row a p {
  display: flex;
  justify-content: center;
  position: relative;
  top: -250px;
}

.row a:hover {
  opacity: 0.5;
  transition: 0.5s;
  color: #1d2d3c;
}

#clientes {
  margin-top: 100px;
  padding-top: 40px;
  width: 100vw;
  height: 30vw;
  background: #f7f7f7;
  font-size: 40px;
}

#contacto {
  width: 100%;
  height: auto;
  color: #1d2d3c;
  font-size: 40px;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contacto h2 {
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxMap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.informacion {
  width: 100vw;
  height: auto;
  display: flex;
}

#contacto h3 {
  width: 400px;
  height: 30px;
  color: #23323f;
  font-size: 22px;
  padding-left: 70px;
}

#contacto p {
  width: 400px;
  height: auto;
  line-height: 26px;
  color: #23323f;
  font-size: 17px;
  padding-left: 70px;
}

#contacto .formulario {
  width: 500px;
  height: auto;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 70px;
  padding-top: 30px;
}

.col1 {
  width: 50vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col2 {
  width: 50vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col2 h3 {
  padding-top: 5px;
  line-height: 20px;
}

.col2 p {
  padding: 2px;
}

#contacto .formCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6px;
}

#contacto .formCont label {
  font-style: italic;
  font-size: 14px;
  margin-top: 2px;
}

#contacto .formCont input {
  background: #f7f7f7;
  font-size: 14px;
  border: 1px solid;
  margin-top: 2px;
  align-items: baseline;
}

#contacto .formCont input:hover {
  border: 2px solid;
  transition: 0.01s;
}

#contacto .mensaje {
  height: 80px;
}

.boton {
  display: flex;
  justify-content: end;
  color: #edcd20;
  background-color: #3b3a3a;
  text-decoration: none;
  padding: 2px 20px;
  border: #3b3a3a 2px solid;
  position: relative;
  left: 350px;
  margin-top: 5px;
}

.boton:hover {
  color: #3b3b3b;
  background-color: #edcd20;
  border: #edcd20 2px solid;
  cursor: pointer;
}

footer {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  right: 50px;
}
