* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  width: 100vw;
  height: 15vh;
  background: black;
  position: fixed;
}

nav ul {
  list-style: none;
  text-align: none;
  display: flex;
  justify-content: space-around;
}

nav ul a {
  color: white;
  text-decoration: none;
  padding-top: 40px;
}

nav ul li {
  padding-top: 50px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: yellow;
}

#inicio {
  width: 100vw;
  height: 200vh;
  background: orange;
}

#servicios {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

#nosotros {
  width: 100vw;
  height: 100vh;
  background-color: chartreuse;
}

#proyectos {
  width: 100vw;
  height: 100vh;
  background-color: cyan;
}

#contacto {
  width: 100vw;
  height: 100vh;
  background-color: darkorchid;
}
